In [1]:
a = 3

In [2]:
a

3

In [4]:
a == 6

False

In [5]:
is_two = a == 2

In [7]:
type(is_two)

bool

# conditional

In [10]:
if True:
    print("line ini dicetak")
    print("ini juga")

line ini dicetak
ini juga

In [14]:
angka = 2
cek = angka > 5
if cek:
    print("Angka lebih besar dari 5")

In [52]:
angka = 5
if angka > 5:
    print("Angka lebih besar dari 5")
else:
    print("Angka lebih kecil dari 5")

Angka lebih kecil dari 5

In [80]:
angka = 5
if angka > 5:
    print("Angka lebih besar dari 5")
elif angka < 5:
    print("Angka kurang dari 5")
elif angka == 5:
    print("Angka sama dengan 5")

Angka sama dengan 5

In [61]:
# ganjil genap
angka = 15532432312
if angka % 2 != 0:
    print("Bilangan Ganjil")
else:
    print("Bilangan Genap")

Bilangan Genap

In [68]:
hp = "sony"

tempat_servis = ['xiaomi', 'samsung', 'oppo', 'vivo', 'sony']

In [65]:
hp in tempat_servis

False

In [69]:
if hp in tempat_servis:
    print("Bisa diservis di sini")
else:
    print("Tidak bisa diservis di sini")

Bisa diservis di sini

In [74]:
angka = 5
huruf = 'a'

if angka < 5:
    print("Angka lebih kecil dari 5")
elif angka == 5:
    print("Angka sama dengan 5")
    if huruf in 'aiueo':
        print("Huruf Vokal")
    else:
        print("Huruf Konsonan")
else:
    print("Angka lebih besar dari 5")

Angka sama dengan 5
Huruf Vokal

In [79]:
# operasi logika
(a == 5) and (hp in tempat_servis)

False

# Looping

## While Loop

In [98]:
nyawa = 5
while nyawa > 0:
    print("nyawa tersisa : ", nyawa)
    print("mario berjalan")
    print("mario jatuh")
    nyawa -= 1 # update var. yang dijadikan kondisi

nyawa tersisa :  5
mario berjalan
mario jatuh
nyawa tersisa :  4
mario berjalan
mario jatuh
nyawa tersisa :  3
mario berjalan
mario jatuh
nyawa tersisa :  2
mario berjalan
mario jatuh
nyawa tersisa :  1
mario berjalan
mario jatuh

In [91]:
a = 5

## continue & break

In [99]:
nyawa = 10
while nyawa > 0:
    print("nyawa tersisa : ", nyawa)
    print("mario berjalan")
    print("mario jatuh")
    if nyawa == 6:
        break
    nyawa -= 1 # update var. yang dijadikan kondisi

nyawa tersisa :  10
mario berjalan
mario jatuh
nyawa tersisa :  9
mario berjalan
mario jatuh
nyawa tersisa :  8
mario berjalan
mario jatuh
nyawa tersisa :  7
mario berjalan
mario jatuh
nyawa tersisa :  6
mario berjalan
mario jatuh

In [113]:
nyawa = 11
bonus = 3
while nyawa > 1:
    nyawa -= 1 # update var. yang dijadikan kondisi
    if nyawa == 6:
        while bonus > 0:
            print("Bonus ke ", bonus)
            bonus -=1
    print("nyawa tersisa : ", nyawa)
    print("mario berjalan")
    print("mario jatuh")

nyawa tersisa :  10
mario berjalan
mario jatuh
nyawa tersisa :  9
mario berjalan
mario jatuh
nyawa tersisa :  8
mario berjalan
mario jatuh
nyawa tersisa :  7
mario berjalan
mario jatuh
Bonus ke  3
Bonus ke  2
Bonus ke  1
nyawa tersisa :  6
mario berjalan
mario jatuh
nyawa tersisa :  5
mario berjalan
mario jatuh
nyawa tersisa :  4
mario berjalan
mario jatuh
nyawa tersisa :  3
mario berjalan
mario jatuh
nyawa tersisa :  2
mario berjalan
mario jatuh
nyawa tersisa :  1
mario berjalan
mario jatuh

In [109]:
nyawa = 10
while nyawa > 0:
    print("nyawa tersisa : ", nyawa)
    print("mario berjalan")
    print("mario jatuh")
    nyawa -= 1 # update var. yang dijadikan kondisi
else:
    print("Game Over")

nyawa tersisa :  10
mario berjalan
mario jatuh
nyawa tersisa :  9
mario berjalan
mario jatuh
nyawa tersisa :  8
mario berjalan
mario jatuh
nyawa tersisa :  7
mario berjalan
mario jatuh
nyawa tersisa :  6
mario berjalan
mario jatuh
nyawa tersisa :  5
mario berjalan
mario jatuh
nyawa tersisa :  4
mario berjalan
mario jatuh
nyawa tersisa :  3
mario berjalan
mario jatuh
nyawa tersisa :  2
mario berjalan
mario jatuh
nyawa tersisa :  1
mario berjalan
mario jatuh
Game Over

### for loop

In [114]:
merk_hp = ['Samsung', 'iPhone', 'XiaoMi', 'Oppo', 'Vivo']
print("HP Saya", merk_hp[0])
print("HP Saya", merk_hp[1])
print("HP Saya", merk_hp[2])
print("HP Saya", merk_hp[3])
print("HP Saya", merk_hp[4])

HP Saya Samsung
HP Saya iPhone
HP Saya XiaoMi
HP Saya Oppo
HP Saya Vivo

In [115]:
for hp in merk_hp:
    print("HP Saya", hp)

HP Saya Samsung
HP Saya iPhone
HP Saya XiaoMi
HP Saya Oppo
HP Saya Vivo

In [132]:
for i in range(len(merk_hp)):
    print("HP Saya", merk_hp[i])

HP Saya Samsung
HP Saya iPhone
HP Saya XiaoMi
HP Saya Oppo
HP Saya Vivo

In [129]:
i = 0
while i < len(merk_hp):
    print("HP Saya", merk_hp[i])
    i += 1

HP Saya Samsung
HP Saya iPhone
HP Saya XiaoMi
HP Saya Oppo
HP Saya Vivo

In [ ]:
i = 1
j = 1
while i <= 10:
    while j <= 10:
        print("{a} x {b} = {c}".format(a=i, b=j, c=i*j))
        j += 1
    print("*"*10)
    i += 1
    j = 1

In [144]:
for i in range(1, 11):
    for j in range(1, 11):
        print("{a} x {b} = {c}".format(a=i, b=j, c=i*j))
    print("*"*10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**********
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**********
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**********
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**********
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**********
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**********
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**********
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**********
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**********
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**********